terraform/.terraform/*
terraform/.terragrunt-cache/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfvars
.DS_Store
.idea/
.vscode/
*.log
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.backup
*.tfvars.local
*.tfvars.json.local
*.tfvars.tfvars
*.tfvars.tfvars.json
*.tfvars.tfvars.local 